node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
*.wasm

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store

### VS Code ###
.vscode/
